.section2_container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
  justify-content: center;
  z-index: -1;
  background-color: #10223c;

  img {
    position: absolute;
    z-index: -2;
    vertical-align: middle;
    width: 100%;
    object-fit: none;
    height: 100%;
  }
  .section2_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .key {
      width: 50%;
      @media only screen and (max-width: 800px) {
        width: 80%;
      }
      @media only screen and (max-width: 600px) {
        width: 90%;
      }
      h1 {
        margin: 5rem;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 55px;
        color: #f6d869;
        font-weight: 700;
        
        @media only screen and (max-width: 600px) {
          font-size: 2.4rem;
        }
        @media only screen and (max-width: 450px) {
          font-size: 2rem;
          margin: 3rem;
        }
      }
      p {
        font-size: 16pt;
        font-weight: lighter;
        font-family: "Poppins";
        text-align: justify;
        opacity: 0.8;
        letter-spacing: 0.02em;
        text-align: center;
        font: normal normal 200 20px/34px "Poppins";
        letter-spacing: 0;
        color: #fff;
        opacity: 1;

        @media only screen and (max-width: 600px) {
          font-size: 1.2rem;
          letter-spacing: .065rem;
        }
        @media only screen and (max-width: 450px) {
          font-size: 1rem;
        }
      }
    }

    .cards_box {
      margin: 5rem 0;
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      @media only screen and (max-width: 800px) {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
      }

      .card {
        position: relative;
        .shadow {
          width: 345px;
          height: 100%;
          transform: rotate(3deg);
          background-color: #000;
          position: absolute;
          top: 10px;
          border-radius: 10px;
          opacity: 1.6;
          right: -7px;

          @media only screen and (max-width: 400px) {
            width: 285px;
          }
        }
        .data {
          width: 300px;
          background-color: #23436e;
          background: transparent linear-gradient(326deg, #152e51, #23436e) 0 0
            no-repeat padding-box;
          border-radius: 15px;
          padding: 40px 20px;
          position: relative;

          @media only screen and (max-width: 400px) {
            width: 250px;
            padding: 30px 15px;
          }

          .img {
            height: 140px;
            display: flex;
            justify-content: center;
            img {
              height: 140px;
              width: fit-content;
              z-index: 2;
            }
          }

          .detail {
            p {
              text-align: left;
              font-size: 16px;
              opacity: 0.7;
              font-family: "Roboto", "Helvetica", "Arial", sans-serif;
              font-weight: 400;
              line-height: 1.43;
              letter-spacing: 0.01071em;
              color: #fff;
              padding: 17px;
            }
          }
        }
      }
    }
  }
}
